@charset "UTF-8";
:root {
  --mainBlue: #73d7ff;
  --darkerBlue: #739fff;
  --error: red;
  --grey: #e0e0e0;
  --mouseBarWidth: 5px;
  --backgorund: white;
}

* {
  margin: 0;
  padding: 0;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  outline: none;
  font-family: sans-serif;
  cursor: url("../../../public/assets/images/cursor/auto.png") 0 0, auto;
}

body {
  overflow: hidden;
}

.screenContainer {
  height: 100vh;
  width: 100%;
  overflow: hidden;
  position: absolute;
  background: linear-gradient(to right, transparent 49.8%, black 49.8%, black 50.2%, transparent 50.2%), linear-gradient(to top, transparent 49.8%, black 49.8%, black 50.2%, transparent 50.2%);
}

.planeContainer {
  height: 100vh;
  width: 100vh;
  position: inherit;
  top: 50%;
  right: 50%;
  transform: translate(50%, -50%);
  overflow-x: visible;
  cursor: url("../../../public/assets/images/cursor/crosshair.png") 8 8, auto;
}

.graphObjectHover {
  --color: #ffffff;
  --outline: black;
  --textColor: black;
  background: var(--color);
  outline: 4px solid var(--outline);
  color: var(--textColor);
  position: absolute;
  padding: 10px;
  border-radius: 20px;
  white-space: nowrap;
  overflow: hidden;
  display: none;
  text-align: center;
}

/* graph objects */
.planeContainer .dot {
  --color: #ffffff;
  --outline: black;
  --textColor: black;
  --size: 5px;
  background: var(--color);
  outline: calc(var(--size) / 3) solid var(--outline);
  width: var(--size);
  height: var(--size);
  border-radius: 50%;
  transform: translate(-50%, 50%);
  position: absolute;
  z-index: 1;
}
.planeContainer .line {
  --angle: 0deg;
  --color: #ffffff;
  background: var(--color);
  border: none;
  transform: translate(-50%, 50%) rotate(var(--angle));
  position: absolute;
  border-radius: 9999999px;
}
.planeContainer .vector.head {
  --angle: 0deg;
  border-radius: 0;
  -webkit-clip-path: polygon(50% 0, 100% 100%, 50% 75%, 0 100%);
          clip-path: polygon(50% 0, 100% 100%, 50% 75%, 0 100%);
  transform: translate(-50%, 50%) rotate(var(--angle));
}
.planeContainer .vector.head.notPointing {
  -webkit-clip-path: polygon(0 0, 50% 25%, 100% 0, 75% 50%, 100% 100%, 50% 75%, 0 100%, 25% 50%);
          clip-path: polygon(0 0, 50% 25%, 100% 0, 75% 50%, 100% 100%, 50% 75%, 0 100%, 25% 50%);
}

.code {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 2;
  width: -moz-fit-content;
  width: fit-content;
  height: 100%;
  display: flex;
  align-items: center;
}
.code .monacoContainer {
  background: #1e1e1e;
}
.code:hover .monacoContainer {
  opacity: 1;
}
.code .monacoContainer {
  width: 200px;
  height: 100%;
  opacity: 0.8;
  border-radius: 0 15px 15px 0;
  overflow: hidden;
  border: solid 1px black;
  box-shadow: 0 0 7px black;
  transition: opacity 0.5s;
}
.code .resizeThumb {
  width: 20px;
  height: 10vh;
  margin-left: 2px;
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: ew-resize;
}
.code .resizeThumb:hover .thumbGraphic {
  background: rgb(83, 83, 83);
}
.code .resizeThumb:active .thumbGraphic {
  background: rgb(40, 40, 40);
}
.code .resizeThumb .thumbGraphic {
  background: grey;
  outline: 1px solid white;
  box-shadow: 0 0 7px black;
  border-radius: 20px;
  height: 100%;
  width: 5px;
  transition: background 0.5s;
  cursor: inherit;
}
@media (max-width: 600px) {
  .code {
    flex-direction: column;
    width: 100%;
    height: -moz-fit-content;
    height: fit-content;
  }
  .code .monacoContainer {
    width: 100%;
    height: 200px;
    border-radius: 0 0 15px 15px;
  }
  .code .resizeThumb {
    width: 20vw;
    height: 20px;
    margin-left: 0;
    margin-top: 2px;
    flex-direction: row;
    cursor: ns-resize;
  }
  .code .resizeThumb .thumbGraphic {
    height: 7px;
    width: 100%;
    background: rgb(40, 40, 40);
  }
  .code:hover .thumbGraphic {
    background: rgb(40, 40, 40);
  }
  .code:active .thumbGraphic {
    background: rgb(40, 40, 40);
  }
}

.monacoColorInputHighlight {
  --bgColor: #ffffff;
  --bgColorNoAlpha: #ffffff;
  --textColor: black;
  color: var(--textColor) !important;
  background: linear-gradient(to right, transparent 40%, var(--bgColor));
  border-radius: 10px;
  font-weight: bold;
  --paddingAmount: 2px;
  padding-right: var(--paddingAmount);
  padding-left: var(--paddingAmount);
  text-shadow: 0 0 5px var(--bgColorNoAlpha);
}

.wiphide {
  display: none;
}

.monacoContainer .parameter-hints-widget .phwrapper .monaco-scrollable-element .body .signature {
  width: 200px;
  height: 50px;
  /* height: 200px; */
}
.monacoContainer .parameter-hints-widget .phwrapper .monaco-scrollable-element .body .signature .code {
  display: inline;
}

.menu {
  --buttonSize: 30px;
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: 2;
  margin: 5px;
}
.menu .window {
  width: 237px;
  height: 300px;
  border: #000000 2px solid;
  background: #1e1e1e;
  color: #e8d44d;
  border-radius: 10px;
  overflow-y: hidden;
}
.menu .window .title {
  height: 8%;
  padding-top: 3px;
  width: 100%;
  text-align: center;
  background: #1e1e1e;
  box-shadow: 0 0 10px #000000;
  text-transform: uppercase;
}
.menu .window .innerWindow {
  margin: 5px;
  margin-top: 0;
  margin-right: 0;
  padding-top: 10px;
  height: 92%;
  overflow-y: scroll;
}
.menu .window .innerWindow .content.hidden {
  display: none;
}
.menu .window .innerWindow .content hr {
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 5px;
  border: 1px solid #e8d44d !important;
  border-radius: 20px;
}
.menu .window .innerWindow .content a {
  color: #e8d44d;
  cursor: pointer;
}
.menu .window .innerWindow .content input[type=range] {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  position: relative;
  overflow: hidden;
  border-radius: 20px;
  cursor: pointer;
  background-color: #1e1e1e;
}
.menu .window .innerWindow .content input[type=range]::-webkit-slider-runnable-track {
  height: 10px;
  box-shadow: inset 0 0 5px #000000;
  z-index: 1;
}
.menu .window .innerWindow .content input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
          appearance: none;
  --size: 10px;
  width: var(--size);
  height: var(--size);
  margin-top: -5px;
  border-radius: 0 20px 20px 0;
  margin-top: 0;
  background-color: #e8d44d;
  box-shadow: calc(-100vw - var(--size)) 0 0 100vw #e8d44d;
  -webkit-clip-path: polygon(1px 0, 100% 0, 100% 100%, 1px 100%, 1px calc(50% + 14px), -100vw calc(50% + 14px), -100vw calc(50% - 14px), 0 calc(50% - 14px));
          clip-path: polygon(1px 0, 100% 0, 100% 100%, 1px 100%, 1px calc(50% + 14px), -100vw calc(50% + 14px), -100vw calc(50% - 14px), 0 calc(50% - 14px));
  z-index: 1;
}
.menu .window .innerWindow .content input[type=number] {
  border-radius: 7px;
  padding-left: 5px;
  width: 50px;
  background: #e8d44d;
  color: #1e1e1e;
  border: none;
  box-shadow: inset 0 0 5px #000000;
}
.menu .window .innerWindow::-webkit-scrollbar {
  width: 13px;
}
.menu .window .innerWindow::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px #000000;
}
.menu .window .innerWindow::-webkit-scrollbar-thumb {
  background: #e8d44d;
  border-radius: 3px;
}
.menu .window .innerWindow::-webkit-scrollbar-thumb:hover {
  background: #c0aa1d;
}
.menu.minimized .window {
  display: none;
}
.menu .menuItens {
  width: -moz-fit-content;
  width: fit-content;
  display: flex;
}
.menu.minimized .menuItens {
  width: 0;
  display: none;
}
.menu .buttonsContainer {
  display: flex;
  justify-content: flex-end;
}
.menu .button {
  border: #000000 2px solid;
  background: #1e1e1e;
  color: #e8d44d;
  border-radius: 5px;
  margin: 7px;
  width: var(--buttonSize);
  height: var(--buttonSize);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.menu .button::after {
  content: attr(data-icon);
}
.menu .button:hover {
  background: #000000;
}
.menu .switchBtn {
  margin-right: 0;
}
.menu .switchBtn::after {
  content: "►";
}
.menu.minimized .switchBtn::after {
  content: "◄";
}

.ponto {
  background: var(--mainBlue);
  width: 5px;
  height: 5px;
  border-radius: 50%;
  outline: 3px solid var(--darkerBlue);
  transform: translate(-50%, 50%);
  position: absolute;
  z-index: 1;
}

.ponto::after {
  content: attr(data-pos);
  position: relative;
  left: 40px;
  top: 5px;
  background: var(--mainBlue);
  white-space: nowrap;
  overflow: hidden;
  padding: 10px;
  border-radius: 50px;
  color: var(--backgorund);
  outline: 4px solid var(--darkerBlue);
  display: none;
}

.ponto:hover::after {
  display: inline;
}

.barra {
  background: var(--darkerBlue);
  border: none;
  transform: translate(-50%, 50%);
  position: absolute;
}

.erro {
  color: var(--error);
  border-color: var(--error);
}

/* 
.controladores *:not(.ignore):not(.ignore *) {
    display: none;
}
.controladores:hover {
    opacity: 1;
}
.controladores:hover > *:not(.ignore):not(.ignore *) {
    display: inline;
}

.controladores .hidden {
    display: none;
}

.controladores #equacao {
    border-radius: 10px;
} */
.mouseGridFollower {
  height: 100vh;
  width: 100%;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

.mouseGridFollower .xbar {
  height: 100vh;
  width: var(--mouseBarWidth);
  position: absolute;
  left: 50%;
  background: var(--grey);
}

.mouseGridFollower .ybar {
  width: 100vw;
  height: var(--mouseBarWidth);
  position: absolute;
  top: 50%;
  background: var(--grey);
}

.mouseGridFollower .value {
  position: absolute;
  top: 50%;
  left: 50%;
  background: var(--grey);
  transform: translate(-110%, -120%);
  color: var(--backgorund);
  text-align: center;
  --paddingAmount: 10px;
  padding-left: var(--paddingAmount);
  padding-right: var(--paddingAmount);
  border-radius: 10px;
  white-space: nowrap;
  overflow: hidden;
}

.navegacao {
  padding: 5px;
  border-radius: 20px;
  background: white;
  outline: 2px solid var(--darkerBlue);
  position: absolute;
  right: 10px;
  bottom: 10px;
  color: var(--darkerBlue);
  box-shadow: 0 10px 10px rgb(121, 121, 121);
}

.navegacao a:visited {
  color: var(--darkerBlue);
}

.navegacao a {
  text-decoration: none;
}

.shareButton {
  color: black;
  background: white;
  border: solid 1px black;
  border-radius: 20px;
}

.shareButton:hover {
  color: black;
  background: var(--mainBlue);
}

.shareButton:active {
  color: var(--mainBlue);
  background: black;
}